:root {
    --accent: #F8F200;
    --font-1: "Roboto", sans-serif;
    --font-2: "Archangelsk", sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff'),
        url('fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Archangelsk';
    src: url('fonts/Archangelsk.eot');
    src: local('Archangelsk'),
        url('fonts/Archangelsk.eot?#iefix') format('embedded-opentype'),
        url('fonts/Archangelsk.woff') format('woff'),
        url('fonts/Archangelsk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    position: relative;
    padding-bottom: 1000px;
    font-size: 18px;
    font-family: var(--font-1);
    color: black;
    background: white;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: none;
    width: 1px;
    height: 100vh;
    background: green;
}

li {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
    z-index: 2;
}

.main-header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-social {
    position: relative;
    top: -3px;
    display: flex;
    align-items: center;
}

.header-social__link {
    display: block;
    margin-left: 40px;
}

.header-social__link img {
    vertical-align: middle;
}

.home-intro {
    position: relative;
    height: 1000px;
}

.home-intro__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.home-intro .container {
    position: relative;
    height: 100%;
    z-index: 2;
}

.home-intro__content {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 70px;
    width: 624px;
    background: var(--accent);
    -webkit-clip-path: polygon(8% 0, 100% 0, 100% 86%, 92% 100%, 0 100%, 0 14%);
    clip-path: polygon(8% 0, 100% 0, 100% 86%, 92% 100%, 0 100%, 0 14%);
}

.home-intro__title {
    margin-bottom: 25px;
    font-family: var(--font-2);
    font-size: 62px;
    font-weight: normal;
    line-height: 1.04;
}

.btn {
    display: inline-block;
    padding: 24px 50px;
    font-size: 24px;
    font-weight: 700;
    color: var(--accent);
    background: #000;
}

.btn--small {
    font-size: 18px;
}

.title {
    font-family: var(--font-2);
    font-size: 62px;
    font-weight: 400;
    color: #000;
}

.title--light {
    color: #ffffff;
}

.text {
    font-size: 18px;
    line-height: 34px;
    color: #777;
}

.text--light {
    color: #ffffff;
}

.text--dark {
    color: #000;
}

.text strong {
    font-weight: bold;
    color: #52BEDC;
}

.change {
    padding: 70px 0;
}

.change__title {
    margin-bottom: 25px;
}

.change__text {
    margin-bottom: 60px;
    max-width: 960px;
}

.change__wrap {
    display: flex;
    justify-content: space-between;
}

.change__left {
    flex: 1;
}

.change__right {
    flex: 0 0 788px;
    margin-left: 32px;
    -webkit-clip-path: polygon(6% 0, 100% 0, 100% 88%, 94% 100%, 0 100%, 0 11%);
    clip-path: polygon(6% 0, 100% 0, 100% 88%, 94% 100%, 0 100%, 0 11%);
}

.change__item {
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 75%, 89% 100%, 0 100%, 0 25%);
    clip-path: polygon(11% 0, 100% 0, 100% 75%, 89% 100%, 0 100%, 0 25%);
}

.change__item:not(:last-of-type) {
    margin-bottom: 32px;
}

.change img {
    display: block;
}

.play {

    color: #ffffff;
    background: #000000;
}

.play__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
    padding-top: 11px;
}

.play__logo {
    margin-right: 32px;
}

.play__title {
    position: relative;
    top: -14px;
}

.play__text {
    margin-bottom: 75px;
    max-width: 932px;
}

.play__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.play__form {
    flex: 0 0 460px;
}

.play__img {
    position: relative;
    top: -63px;
}

.play__bottom {
    display: block;
}

.form__group {
    margin-bottom: 24px;
    height: 46px;
}

.form__group input {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #777;
}

.form__group input::placeholder {
    color: #ffffff;
}

.form__file {
    position: relative;
    margin-top: 34px;
    margin-bottom: 37px;
    height: 120px;
}

.form__file input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    border: 1px dashed #777;
}

.file__title {
    margin-bottom: 10px;
    font-weight: 300;
    text-decoration: underline;
}

.file__title:hover {
    text-decoration: none;
}

.file__text {
    font-size: 12px;
    font-weight: 300;
}

.form__submit {
    margin-bottom: 15px;
    padding: 19px 50px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-1);
    color: #000000;
    background: var(--accent);
    border: none;
    cursor: pointer;
}

.form__privacy input {
    display: none;
}

.form__privacy label {
    position: relative;
    display: block;
    padding-left: 24px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.form__privacy label:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #777;
}

.form__privacy label:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: url("img/check.png") no-repeat center;
    opacity: 0;
}

.form__privacy input:checked+label::after {
    opacity: 1;
}

.dive {
    padding: 74px 0 66px;
    background: var(--accent);
}

.dive__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dive__gallery,
.dive__content {
    width: 50%;
}

.dive__content {
    width: 48.7%;
}

.dive__img {
    margin-bottom: 23px;
}

.dive__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.dive__title {
    margin-bottom: 25px;
}

.dive__text {
    margin-bottom: 13px;
}

.dive__list {
    margin-bottom: 40px;
}

.dive__list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.dive__list img {
    margin-right: 10px;

}

.dive__btn {
    padding: 20px 50px;
}

.buy__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.buy__img {
    position: relative;
    width: 50%;
}

.buy__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buy__content {
    padding: 70px 32px 23px;
    width: 51.6%;
    color: white;
    background: #000;
}

.buy__title {
    margin-bottom: 25px;
    width: 624px;

}

.buy__subtitle {
    margin-bottom: 13px;
    font-size: 24px;
    color: #52BEDC;
}

.buy__subtitle:nth-of-type(2) {
    margin-bottom: 24px;
}

.buy__list {
    margin-bottom: 72px;
}

.buy__list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.buy__list img {
    margin-right: 10px;
}

.buy__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 404px;
}

.buy__logo {
    margin: 0 80px 43px 0;

    
}
